<div class ='main about'>
    <div class='about-header-container'>
    </div>
    <div class='aboutwoojun-container'>
        <div class='picture-container'>
            <div class='innerpicture-container'>
                <img class='img-fluid' src='/contents/woojun-sea.jpeg'/>
            </div>
        </div>
        <div class='text-container'>
            <h2>Hey, I'm Tim :)</h2>
            <p>
                I'm a front-end developer who is passionate about Javascript,
                 building great user experiences,
                fighting for simplicity over complexity,
                 constantly learning and someone who strives to mentor
                and share with other developers around me.
            </p>
        </div>
    </div>
</div>
