<div class ='main about'>
    <div class='about-header-container'>
    </div>
    <div class='aboutwoojun-container'>
        <div class='picture-container'>
            <div class='innerpicture-container'>
                <img class='img-fluid' src='/contents/woojun-sea.jpeg'/>
            </div>
        </div>
        <div class='text-container-wrapper'>
            <div class='text-container'>
                <h1>Hey, I'm Tim :)</h1>
                <p>
                    I'm a front-end developer who is passionate about Javascript,
                    building great user experiences,
                    fighting for simplicity over complexity,
                    constantly learning and someone who strives to mentor
                    and share with other developers around me.
                </p>
                <br/>
                <h4>TECHNICAL INTERESTS AND FOCUS</h4>
                <p>
                     I've had 3+ years experience as a developer
                        
                    My interests primarily lie in design and implementation of native web apps,
                    whether desktop or mobile, single-page applications or otherwise. I primarily focus on Javascript (ES5/6, node & browser), HTML/5 and CSS.
                        
                    I've developed with a number of frameworks and libraries, such as ReactJS, AngularJS, JQuery and VueJS.
                    I enjoy learning new frameworks, libraries and programming philosophies.
                    I strive for simplicity, favor composition, strongly work towards a reactive and functional style of development versus object-oriented.
                </p>
                <br/>
                <h4>NON-TECHNICAL INTERESTS</h4>
                <p>
                    Outside of learning about the web, I have a number of other interests as well.
                    I play Overwatch, Starcraft and League of Legend. 
                    I also occasionally go to mountains and beaches with my wife Emily and my dog Haru.
                    I also enjoy hanging out with my best friends and wife,
                    talking, watching our fav tv-shows and just connecting.
                </p>
                </br>
            </div>
        </div>
    </div>
</div>
