<div class ='main contact'>
        <div class='content'>
                <h3><i class="far fa-envelope"></i></h3>
                <form name='contactForm' novalidate>
                    <input type='name' name='name' placeholder='NAME' ng-model='contact.name' ng-required='true'/>
                    <input type='email' name='email' placeholder="EMAIL" ng-model='contact.email' ng-required='true'/>
                    <textarea placeholder='YOUR MESSAGE' ng-model='contact.message' name='message' ng-required='true'></textarea>
                    <input type='submit' value='submit' ng-click='sendEmail()'/>
                </form>
            </div>
    </div>
