<div class ='main projects'>
    <div class='project-header-container'>
    </div>
    <div class='project-container'>
        <div class='project'>
            <div class='image-container'>
                <img class='img-fluid' src='/contents/giraffql.jpeg'/>
            </div>
            <div class='textarea-text'>
                    <div class='text-header'> 
                            <h3>GIRAFFQL</h3>
                        </div>
                        <div class='text-write'>
                            <p>Interactive GraphQL schema visualization tool</p>
                        </div>
            </div>
        </div>
        <div class='project'>
            <div class='image-container'>
                <img class='img-fluid' src='/contents/jobsmith.png'/>

            </div>
            <div class='textarea-text'>
                    <div class='text-header'> 
                            <h3>JOBSMITH</h3>
                        </div>
                        <div class='text-write'>
                            <p>Scalable app for discussing company interviews with engineer</p>
                        </div>
            </div>
        </div>
        <div class='project'>
            <div class='image-container'>
                <img class='img-fluid' src='/contents/trvlr.png'/>
            </div>
            <div class='textarea-text'>
                    <div class='text-header'> 
                            <h3>TRVLR</h3><p>
                        </div>
                        <div class='text-write'>
                            <p>Interactive Vacation Destination Search App</p>
                        </div>
            </div>
        </div>
    </div>
</div>
