<div class ='main projects'>
    <div class='project-header-container'>
    </div>
    <div class='project-container'>
        <div class='project'>
            <div class='image-container'>
                <img class='img-fluid' src='/contents/giraffql.jpeg'/>
            </div>
            <div class='textarea-text'>
                    <div class='text-header'> 
                            <h2>GIRAFFQL</h2>
                        </div>
                        <div class='text-write'>
                            <p>blahblah</p>
                        </div>
            </div>
        </div>
        <div class='project'>
            <div class='image-container'>
                <img class='img-fluid' src='/contents/jobsmith.png'/>

            </div>
            <div class='textarea-text'>
                    <div class='text-header'> 
                            <h2>GIRAFFQL</h2>
                        </div>
                        <div class='text-write'>
                            <p>blahblah</p>
                        </div>
            </div>
        </div>
        <div class='project'>
            <div class='image-container'>
                <img class='img-fluid' src='/contents/trvlr.png'/>
            </div>
            <div class='textarea-text'>
                    <div class='text-header'> 
                            <h2>GIRAFFQL</h2>
                        </div>
                        <div class='text-write'>
                            <p>blahblah</p>
                        </div>
            </div>
        </div>
    </div>
</div>
