<div class ='main'>
    <div class='tech-page'>
        <div class='tech-header'>
        </div>
        <div class='tech-icons'>
                <div class='icon-container'>
                    <i class="devicon-react-original colored tech-icon ounceInDown"></i>
                    <h4>REACT</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-angularjs-plain colored tech-icon"></i>
                        <h4>ANGULAR</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-jquery-plain colored tech-icon"></i>
                        <h4>JQUERY</h4>
                </div>

                <div class='icon-container'>
                        <i class="devicon-d3js-plain colored tech-icon"></i>
                        <h4>D3</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-html5-plain colored tech-icon"></i>
                        <h4>HTML5</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-css3-plain colored tech-icon"></i>
                        <h4>CSS3</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-sass-original colored tech-icon"></i>
                        <h4>SASS</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-bootstrap-plain colored tech-icon"></i>
                        <h4>BOOTSTRAP</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-babel-plain colored tech-icon"></i>
                        <h4>BABEL</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-webpack-plain colored tech-icon"></i>
                        <h4>WEBPACK</h4>
                </div>

                <div class='icon-container'>
                        <i class="devicon-nodejs-plain colored tech-icon"></i>
                        <h4>NODE</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-express-original colored tech-icon"></i>
                        <h4>EXPRESS</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-postgresql-plain colored tech-icon"></i>
                        <h4>POSTGRESQL</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-mongodb-plain colored tech-icon"></i>
                        <h4>MONGODB</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-heroku-original colored tech-icon"></i>
                        <h4>HEROKU</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-github-plain colored tech-icon"></i>
                        <h4>GITHUB</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-slack-plain colored tech-icon"></i>
                        <h4>SLACK</h4>
                </div>
                <div class='icon-container'>
                        <i class="devicon-mocha-plain colored tech-icon"></i>
                        <h4>MOCHA</h4>
                </div>
        </div>
    </div>
</div>

