html {
    min-height:600px;
    height:auto;
}

body {
    height:auto;
    font-family: 'Montserrat', sans-serif;
}

.contenting {
    height:auto;
}
.container-fluid{
    height:10%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.spacer {
    width:20%;
    height:60px;
}
.main-nav {
    width:60%;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.side-nav {
    width:20%;
    display:flex;
    align-items: center;
}
.side-nav a {
    font-size:25px;
    line-height:90px;
    margin-left:22px;
    color:black;
}

.side-nav.small {
    width:25%;
    float:right;
}

.side-nav.small a {
    font-size:25px;
    line-height:90px;
    margin-left:22px;
    color:white;
    margin-top:10px;
}

.side-nav.small ul li{
    display:inline-block;
}
.nav a {
    color:black;
}

.nav a:hover {
    color:#bfa67a
}

.main {
    width:100%;
    height:90%;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:30px;
}
form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
}
.main.contact {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:0;
}

.main.active {
    background-image:url('../contents/image.jpg');
    margin-top:0px;
    height:90%;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    justify-content: center;
}
.main.about {
    margin-top:0;
}

.name {
    width:50%;
    height:50%;
    text-align: center;
    vertical-align: center;
    font-size:20px;
}

.name p {
    margin-top:5px;
    margin-bottom:0px;
}
.footer {
    width:100%;
    height:10%;
    background-color: black;
    display:block;
    bottom:0;
}
.tech-page {
    width:100%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content: center;;
    align-items: center;
}
.tech-header {
    width:100%;
    height:15%;
    display:flex;
    justify-content: center;
}
.tech-header h3 {
    font-size:60px
}

.tech-icons {
    width:70%;
    height:100%;
    margin-left:0.5em;
    margin-right:0.5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 2em;
}

.tech-icon {
    font-size:75px;
}

.icon-container h4 {
    margin-top:15px;
}
.icon-container {
    text-align: center;
}

.wrapper {
    height:100%;
}

.navsmall {
    display:none;
}


.dropmenu {
    display:none;
    color:white;
    background-color:black;
}
.dropmenu i:hover {
    color:#bfa67a;
}

.drop-list {
    cursor:pointer;
}
.drop-list a {
    display:none;
}

.navsmall.active.bounceInDown{
    display:block;
    text-align:center;
    margin:0 auto;
    padding:0;
    background-color:black;
    color:white;
    transition:5s all;
}
/* contact page  */

.content{
    padding: 30px;
    overflow:hidden;
  }
  .content h3 {
      font-size:60px;
      text-align:center;
  }
  .content button,
  .content input[type="submit"]{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #777;
    border: 0;
    box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
    font-size: 16px;
  }
  
  .content button:nth-child(2){
    float: right;
  }
  
  .content ul{
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
  }
  
  .content li span{
    float: right;
  }
  
  .content li h3{
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
  }
  
  .content input, textarea{
    width: 90%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px 0;
  }
  
  .content input[type="submit"]:last-child{
    width: 150px;
    display: block;
    margin: 30px auto;
    background-color: black;
    color:white;
  }

  main.ng-enter {
    transition:0.5s linear all;
    opacity:0;
  }
  
  main.ng-enter.ng-enter-active {
    opacity:1;
  }

  /* about page  */
  .about-header-container {
    width:100%;
    height:15%;
    text-align: center;
    background-color:white;
  }

  .aboutwoojun-container {
      display:flex;
      align-items: center;
      justify-content: center;
      height:85%;
      width:100%;
  }
  .picture-container {
    width:50%;
    height:100%;
    background-color: white;
  }
  
  .text-container {
    width:50%;
    height:100%;
    background-color: white;
  }
  .picture-container img {
      max-width:100%;
      height:auto;
  }

  .innerpicture-container {
    margin:0 auto;
    width:75%;
    height:75%;
  }

@media only screen and (max-width: 1070px) {
    .tech-icons {
      grid-template-columns: repeat(4, 1fr);
  }
    .navsmall {
        display:none;
    }
}

@media only screen and (max-width: 960px) {
        .nav-bar{
        display:none;
        }
        .footer {
            height:10%;
        }
        .dropmenu {
            display:block;
            padding:15px;
            font-size:25px;
            width:100%;
        }
        .dropmenu .bar {
            cursor:pointer;
        }
        .dropmenu .bar:hover {
            color:#bfa67a;
        }
        .navsmall ul {
            padding:0;
        }
        .navsmall ul li {
            text-align: center;
            list-style: none;
            padding: 10px 0;
            border-top: 1px solid #e2e2e2;
        }
        .navsmall ul li a {
            text-decoration: none;
            color:white;
        }
        .navsmall ul li a:hover {
            text-decoration: none;
            color:#bfa67a;
        }
        .drop-list a {
            display:block;
        }
    }

@media only screen and (max-width: 800px) {
    .tech-icons {
      grid-template-columns: repeat(3, 1fr);
    }
    .name {
        width:100%;
    }
    form {
        width:450px;
    }
    
}
/* for small smartphone(min-max:370px) */
@media only screen and (max-width: 620px) {
  .tech-icons {
    grid-template-columns: repeat(1, 1fr);
}
    form {
        width:300px;
    }
    .side-nav.small {
        width:40%;
        float:right;
        display:flex;
        justify-content: flex-end;
    }
    .aboutwoojun-container {
        display:block;
    }
    .picture-container {
        width:100%;
        display:flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
      }
      
      .text-container {
        width:100%;
        padding: 0 10px 0 10px;
        height:auto;
      }
      .text-container h2 {
        text-align:center;
      }

      .innerpicture-container {
        width:80%;
        height:80%;
        display:flex;
        justify-content: center;
        align-items:center;
      }
      .about-header-container {
        height:0;
      }
}